<!DOCTYPE html>
<html lang="en">

<head>
    <title>Query Handler</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/answer.css" />
    <!-- Font  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    {{!-- navigation bar --}}
    {{>nav}}

    {{!-- ask question model --}}
    {{!-- {{>askQuestion}} --}}

    <!-- Submit Answer MODAL -->
    <div class="modal fade" id="postAnswer">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Answer</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/question/answer/{{questionId}}" method="POST">
                        <div class="form-group">
                            <label for="youranswer">Your Answer </label>
                            <input type="text" name="yourAnswer" placeholder="Your Answer" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="body">Modified Answer / Code</label>
                            <textarea name="editor1" class="form-control"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {{!--question details  --}}
    <section id="questionDetails">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mt-4 ">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-2 mt-4 ">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#postAnswer">Your
                        Answer</button>
                </div>
                <div class="col-md-12 ">
                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>

                <div class="col-md-1 voteButton">
                    <form action="/questions/upvote/{{questionId}}" method="POST"> <button type="submit" class="btn">
                            <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                                viewBox="0 0 36 36">
                                <path d="M2 26h32L18 10 2 26z"></path>
                            </svg>
                        </button>
                    </form>
                    <form action="/questions/downvote/{{questionId}}" method="POST">

                        <button type="submit" class="btn">
                            <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                                viewBox="0 0 36 36">
                                <path d="M2 10h32L18 26 2 10z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col-md-11 ">
                    {{problem}}

                </div>
                <div class="col-md-1 ">

                </div>
                <div class="col-md-11 mt-4 code">
                    {{{code}}}
                </div>
                <div class="col-md-12 mb-4">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>


            </div>
        </div>

    </section>

    <section id="questionDetails">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-success mb-4 ">
                    <h2>Answers</h2>
                    <hr style="border: 0;border-top: 2px solid #43BE31; margin:25px 0px;opacity:0.4;" />

                </div>
                {{#if totalAnswers.[0]}}
                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[0]}}</h5>



                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>

                <div class="col-md-11 ">
                    {{totalAnswers.[0]}}

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[0]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

                {{#if totalAnswers.[1]}}

                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[1]}}</h5>

                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>

                <div class="col-md-11 ">
                    {{totalAnswers.[1]}}

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[1]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

                {{#if totalAnswers.[2]}}
                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[2]}}</h5>

                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>

                <div class="col-md-11 ">
                    {{totalAnswers.[2]}}

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[2]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

                {{#if totalAnswers.[3]}}

                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[3]}}</h5>

                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>

                <div class="col-md-11 ">
                    {{totalAnswers.[3]}}

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[3]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

                {{#if totalAnswers.[4]}}
                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[4]}}</h5>



                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>



                <div class="col-md-11 ">
                    {{totalAnswers.[4]}}

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[4]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

                {{#if totalAnswers.[5]}}
                <div class="col-md-12 mb-4">
                    <img src="https://res-cdn.learnyst.com/pro/learning-apps/classroom/styles/images/lr-student.svg"
                        style=" height: 65px;margin-right: 0px;vertical-align: middle;width: 70px;"
                        class="img-circle ml-4">
                    <h5 class="mt-2">{{totalUserNameForAnswers.[5]}}</h5>



                </div>

                <div class="col-md-1 voteButton">
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                        viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </div>

                <div class="col-md-11 ">
                    {{totalAnswers.[5]}}

                </div>

                <div class="col-md-1">

                </div>

                <div class="col-md-11 mt-4 code">
                    {{{totalCode.[5]}}}
                </div>
                <div class="col-md-12">

                    <hr style="border: 0;border-top: 2px solid rgb(27, 28, 32); margin:25px 0px;opacity:0.4;" />
                </div>
                {{/if}}

            </div>
        </div>
    </section>

    <!-- PAGINATION -->
    <nav class="ml-4 ">
        <div class="container">
            <div class="row">
                <ul class="pagination">
                    <li class="page-item ">
                        <a href="" class="page-link">Previous</a>
                    </li>
                    <li class="page-item ">
                        <a href="/myquestions?page=1" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="/myquestions?page=2" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="/myquestions?page=3" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

    <script>

        CKEDITOR.replace('editor1');
    </script>


</body>

</html>