<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="css/style.css" /> -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/profile.css" />

</head>

<body>
  {{>nav}}

  <section>

    <div class=" col-md-12 mt-3">
      <div id="dropzone" class="media">
        <div class="pull-left">
        </div>
        <div class="container">
          <div class="picture-container">
            <form action="/profile/upload" method="POST" enctype="multipart/form-data">
              <div class="picture">
                <img src="http://localhost:5000/{{_id}}/profilepic" class="picture-src" id="wizardPicturePreview"
                  title="">
                <input type="file" name="profilepic" id="wizard-picture" class="" />
              </div>
          </div>
          <div class="text-center mt-3" id="save-profile">
            <button type="submit" class="btn btn-primary mb-2 ">
              Upload
            </button>
          </div>
          </form>
        </div>
      </div>
  </section>

  </section>
  <div class="col-md-12">
    <form action="/profile" method="POST">

      <hr style="border: 0;border-top: 2px solid #CACBD0; margin:20px 35px;opacity:0.4;" />
      <div class="row" style="margin:0 20px;" id="js-userInfo-form">
        <div class="col-md-4">
          <label class="settings-sub-heading">Username </label>
          <input type="text" name="username" placeholder="" value="{{username}}" class="form-control" />
        </div>
        <div class="col-md-4">
          <label class="settings-sub-heading">Name</label>
          <input type="text" name="name" placeholder="" value="{{name}}" class="form-control" />
        </div>
        <div class="col-md-4">
          <label class="settings-sub-heading">Email address</label>
          <input type="email" name="email" placeholder="" value="{{email}}" class="form-control" />
        </div>
      </div>
      <hr style="border: 0;border-top: 1px solid #CACBD0; margin:45px 35px;opacity:0.4;" />
      <div class="row" style="margin:0 20px;">
        <div class="col-md-4">
          <label class="settings-sub-heading">Website </label>
          <input type="text" name="website" placeholder="Your website" , value="{{website}}" class="form-control" />
        </div>

        <div class="col-md-4">
          <label class="settings-sub-heading">Country</label>
          <input type="text" name="country" placeholder="country" value="{{country}}" class="form-control" />
        </div>

        <div class="col-md-4">
          <label class="settings-sub-heading">Languages</label>
          <input type="text" name="languages" placeholder="eg. c,c++" value="{{languages}}" class="form-control" />
        </div>
      </div>
      <hr style="border: 0;border-top: 1px solid #CACBD0; margin:45px 35px;opacity:0.4;" />
      <div class="row" style="margin:0 20px;" id="notification_preferences">
        <div class="col-md-4">
          <label class="settings-sub-heading">Change password </label>
          <input type="password" placeholder="Change Password" class="form-control" />
        </div>

        <div class="col-md-4">
          <label class="settings-sub-heading">Age</label>
          <input type="age" name="age" placeholder="age" value="{{age}}" class="form-control" />
        </div>

        <div class="col-md-4">
          <label class="settings-sub-heading">workrole</label>
          <input type="text" name="workrole" placeholder="eg. frontend developer" value="{{workrole}}"
            class="form-control" />
        </div>
      </div>
      <hr style="border: 0;border-top: 1px solid #CACBD0; margin:45px 35px;opacity:0.4;" />
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" id="save-profile">
            <button type="submit" class="btn btn-primary mb-2 ">
              Save Profile
            </button>
            <button type="button" class="btn btn-danger  ml-2 mb-2 ">
              Delete Account
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="js/profilepic.js"></script>
</body>

</html>